pkgbase = aliyundrive-webdav
	pkgdesc = 阿里云盘 WebDAV 服务
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/messense/aliyundrive-webdav/
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	provides = aliyundrive-webdav
	source = https://github.com/messense/aliyundrive-webdav/archive/v1.6.2.tar.gz
	sha256sums = 8c4d5de33b775c368033fc7162198db794045a360488454b8346665ca4307c59

pkgname = aliyundrive-webdav
